<div class="register-container">
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
  
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
  
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      </div>
  
      <button type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
  
    <!-- Display message -->
    <p *ngIf="message" [ngClass]="{ 'success': isSuccess, 'error': !isSuccess }">{{ message }}</p>
  </div>